/*Import des components*/
@import url("Components/navbar.css");
@import url("Components/card.css");
@import url("Components/btn.css");

/*Import des fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');

body {
  background-color: gray;
  margin:0;
  font-family: Montserrat;
}

a {
  text-decoration: none;
}
.container {
  width: 1000px;
  margin: 0 auto;
}

.banner {
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(120deg, rgba(20,20,20,0.8), rgba(20,20,20,0.2)); */
}

.banner .container{
  text-align: center;
  color: white;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background-color: black;
  color: white;
  display: block;
}

.footer .container{
  display: block;
  text-align: center;
  margin-top: 24px;
}

.footer ul {
  display: inline;
}

.footer li{
  display: inline;
  color: grey;
}


/* .footer-container {
  width: 1000px;
  margin: 0 auto;
  color: white;
} */

/*      Responsibe      */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}